// 
.HeadMenuLinkDropDown_icon{
    margin-left: 0.5rem;
    vertical-align: middle;
    font-size: 10px;
}

// 
.HeadMenuLinkDropDown_list{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);

    width: 80%;
    overflow: hidden;
}

// 
@media (max-width: 1200px) {
    .HeadMenuLinkDropDown_list{
        width: 100%;
    }
}