
// 
.HomeUserInfo_img{
    margin-right: 12px;
}

// 
.HomeUserInfo_follow-btn{
    padding: 8px 14px;
    background-color: transparent;
    border: 1px solid var(--md-color-secondary);

    line-height: 1;
    font-size: 13px;
    font-weight: 600;
}