
.InputSearch{
    // padding: 8px;
    border: 1px solid var(--md-color-secondary);
}

.InputSearch_input-item{
    background-color: transparent;
}

.InputSearch_right_contain{
    border-left: 1px solid var(--md-color-secondary);
}