
.FootRight_input-item{
    background-color: transparent;
    border: 1px solid var(--md-color-secondary);
    color: var(--md-color-secondary);
    font-size: 13px;
}

.FootRight_submit{
    margin: 1rem 0 0.25rem 0;
}