
.Home{
    hr{
        border: 1px solid var(--md-bg-ccc);
    }
}

.Home_head{
    margin-bottom: 2.5rem;
}

// .
.Home_body-contain{
    border-top: 2px solid var(--md-bg-ccc);
}

// ..
.Home_body-part{
    margin: 2.5rem 0;
}