.ContentOnBg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(to top, #000000, transparent 30%);
        background: linear-gradient(to top, #000000, transparent 30%);
    }
}

//
.ContentOnBg_content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 100%;
}
